<aside class="aside">
  <div class="side-bar">
    <div class="user-img"><img src="/<%= user.image %>" alt="" /></div>
    <div>
      <h1 class="title">About me</h1>
      <p class="user-desc"><%= user.bio %></p>
    </div>
    <ul>
      <li><a href="/user/<%=user._id%>">My posts</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Connect</a></li>
    </ul>
  </div>
</aside>
